<div class="container">
    <div class="row">
        <h1>Task List</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <a href="inserir" class="btn btn-outline-primary" title="Cadastrar" style="width: 100%;">Cadastrar</a>
        </div>
        <div class="col-6">
            <a href="select" class="btn btn-outline-secondary" title="Listagem" style="width: 100%;">Listagem</a>
        </div>
    </div>
</div>